@model Application.Quizzes.Commands.CreateQuiz.CreateQuizVm;

<div class="quiz-creator container">
    <h1>Quiz Creator</h1>

    <form class="create-quiz-form" method="post" enctype="multipart/form-data">

        <div class="drop-area">
            <i class="fas fa-cloud-upload-alt"></i>

            <div class="drop-area__status">
                <p>Drag & Drop files Here</p>
                <p>Or</p>
                <button type="button" class="browse-files-button" aria-label="browse files">Browse Files</button>
            </div>

            <input asp-for="Files" class="files-input" type="file" name="files" multiple required aria-required="true"/>
        </div>

        <div class="form-group title-input">
            <label for="title">Quiz Title*</label>
            <input asp-for="Title" type="text" class="form-control" id="title" placeholder="Quiz Title" required aria-required="true">
        </div>

        <div class="form-check">
            <input asp-for="IsPublic" type="checkbox" class="form-check-input" checked id="public">
            <label class="form-check-label" for="public">Public Quiz</label>
        </div>

        <button class="create-quiz-button" type="submit" aria-label="create quiz">Create Quiz</button>
    </form>
</div>

<script defer type="module" src=~/js/quizCreator.js></script>