@model Application.Quizzes.Commands.UpsertQuiz.UpsertQuizVm;

@{
    string pageTitle = (Model.Id is null) ? "Create Quiz" : "Update Quiz";
}

<div class="quiz-creator container">
    <h1>@pageTitle</h1>

    <form asp-area="app" asp-controller="quiz" asp-action="upsert" class="create-quiz-form" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="text" hidden>

        <div class="drop-area">
            <i class="fas fa-cloud-upload-alt"></i>

            <div class="drop-area__status">
                <p>Drag & Drop files Here</p>
                <p>Or</p>
                <button type="button" class="browse-files-button" aria-label="browse files">Browse Files</button>
            </div>

            <input asp-for="Files" class="files-input" type="file" name="files" min="1" max="30" max-size="60000" multiple required aria-required="true" />
        </div>

        @if (User.IsInRole("Administrator"))
        {
            <div class="form-check">
                <input asp-for="Approved" type="checkbox" class="form-check-input" id="approved">
                <label class="form-check-label" for="approved">Approved Quiz</label>
            </div>
        }

        <div class="form-check">
            <input asp-for="IsPublic" type="checkbox" class="form-check-input" checked id="public">
            <label class="form-check-label" for="public">Public Quiz</label>
        </div>

        <div class="captacha">
            <div class="g-recaptcha" data-sitekey="6LdbmkEeAAAAANLtuEoxy_BHHmiTYa2GEmiawZpX" data-callback="handleCaptachaCallback" data-expired-callback="handleCaptchaExpired"></div>
            <input asp-for="Captacha" id="captacha-field" required type="text" style="display:none;">
        </div>

        <div class="form-floating title-input">
            <input asp-for="Title" type="text" class="form-control" id="title" required aria-required="true">
            <label for="title">Title*</label>
        </div>

        <button class="upsert-quiz-button" type="submit" aria-label="@pageTitle">@pageTitle</button>
    </form>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script defer type="module" src=~/js/quizCreator.js></script>
<script defer>
    function handleCaptachaCallback(captacha) {
        document.getElementById('captacha-field').value = captacha;
    }

    function handleCaptchaExpired(){
        document.getElementById('captacha-field') = "";
    }
</script>

