<div class="how-to-get-sfx container">
    <h1>How to get a SFX</h1>

    @*<p>Getting SFXs from a youtube video is very easy.</p>*@

    <div class="how-to-get-sfx__instruction">
        <div class="instruction-point">
            <p class="point__title">1. Get a youtube link</p>

            <img class="portrait" src="~/assets/images/how-to-get-sfx/get-link-1_portrait.jpg" alt="get the link step 1" />
            <img class="landscape" src="~/assets/images/how-to-get-sfx/get-link-1_landscape.jpg" alt="get the link step 1" />

            <img src="~/assets/images/how-to-get-sfx/get-link_2.jpg" alt="get the link step 2" />
        </div>

        <hr />


        <div class="instruction-point">
            <p class="point__title">2. Cut the youtube video to audio file</p>

            <img class="landscape" src="/assets/images/how-to-get-sfx/cut-file_landscape.jpg" alt="cut the file" />
            <img class="portrait" src="/assets/images/how-to-get-sfx/cut-file_portrait.jpg" alt="cut the file" />

            <ul>
                <li><a href="https://odownloader.com/yt-videos-cutter-online-free">odownloader.com</a></li>
                <li><a href="https://ytcutter.com/">ytcutter.com</a></li>
                <li><a href="https://ytcropper.com/">ytcropper.com</a></li>
                <li><a href="https://www.kapwing.com/studio/editor">www.kapwing.com</a></li>
            </ul>
        </div>

        <hr />

        <div class="instruction-point">
            <p class="point__title">3. Name the audio file.</p>
            <p class="text-center">
                - After ' ` ' you can add alternatives names that are also correct. <br />
                - The filename will be your SFX name, which will be guessed. <br />
                - File format ought to be .mp3, .ogg or .wav.
            </p>
            <img src="~/assets/images/how-to-get-sfx/name-file.jpg" alt="name the file" />
        </div>

        <hr />

        <div class="instruction-point">
            <p class="point__title">4. Compress the audio file(optional).</p>
            <p class="text-center">You can try compressing if your file size is above max file size - 300KB. <br /> My file compressed from 550KB to 225KB <mark>~ 59% less</mark></p>
            <img src="~/assets/images/how-to-get-sfx/compress-file.jpg" alt="compress the file" />
            <ul>
                <li><a href="https://www.media.io/audio-compressor.html">media.io</a></li>
                <li><a href="https://www.compresss.com/compress-audio.html">compresss.com</a></li>
                <li><a href="https://www.xconvert.com/audio-compressor">xconvert.com</a></li>
                <li><a href="https://www.onlineconverter.com/compress-mp3">onlineconverter.com</a></li>
            </ul>
        </div>
    </div>

</div>