<div class="home container">
    <header>
        <h1 class="home__brand">SFZQuizzes</h1>
    </header>

    <div class="home__demo">
        @*<div class="demo__audio">

            <div class="demo__form-group form-group">
            <label for="1">1</label>
            <input type="text" class="form-control" id="1">
            </div>

            <audio controls>
            <source src="~/assets/audios/home-template/crackle-alarm.wav" type="audio/wav">
            Your browser does not support the audio element.
            </audio>
            </div>*@

        <div class="audio-player" id="audio-player-1">
            1.
            <input class="name-input" type="text" placeholder="guess sfx name" />
            <button class="audio-player__button"><i class="fas fa-play"></i></button>
            <input class="volume-input" type="range" />
            <button class="audio-player__button d-none"><i class="fas fa-stop"></i></button>
        </div>

        <div class="audio-player" id="audio-player-2">
            2.
            <input class="name-input" type="text" placeholder="guess sfx name" />
            <button class="audio-player__button"><i class="fas fa-play"></i></button>
            <input class="volume-input" type="range" />
            <button class="audio-player__button d-none"><i class="fas fa-stop"></i></button>
        </div>

        <div class="audio-player" id="audio-player-3">
            3.
            <input class="name-input" type="text" placeholder="guess sfx name" />
            <button class="audio-player__button"><i class="fas fa-play"></i></button>
            <input class="volume-input" type="range" />
            <button class="audio-player__button d-none"><i class="fas fa-stop"></i></button>
        </div>

         <div class="audio-player" id="audio-player-4">
            4.
            <input class="name-input" type="text" placeholder="guess sfx name" />
            <button class="audio-player__button"><i class="fas fa-play"></i></button>
            <input class="volume-input" type="range" />
            <button class="audio-player__button d-none"><i class="fas fa-stop"></i></button>
        </div>

        <div class="audio-player" id="audio-player-5">
            5.
            <input class="name-input" type="text" placeholder="guess sfx name" />
            <button class="audio-player__button"><i class="fas fa-play"></i></button>
            <input class="volume-input" type="range" />
            <button class="audio-player__button d-none"><i class="fas fa-stop"></i></button>
        </div>

        <div class="audio-player" id="audio-player-6">
            6.
            <input class="name-input" type="text" placeholder="guess sfx name" />
            <button class="audio-player__button"><i class="fas fa-play"></i></button>
            <input class="volume-input" type="range" />
            <button class="audio-player__button d-none"><i class="fas fa-stop"></i></button>
        </div>

    </div>
</div>