@using Application.Quizzes.Queries
@using Domain.ValueObjects

@{
    QuizDto demoQuiz = new()
            {
                SFXs = new List<SFX>
                {
                    new SFX {Id = 1, Name = "1.wav"},
                    new SFX {Id = 2, Name = "2.wav"},
                    new SFX {Id = 3, Name = "3.wav"},
                    new SFX {Id = 4, Name = "4.wav"},
                    new SFX {Id = 5, Name = "5.wav"},
                    new SFX {Id = 6, Name = "jump.wav"},
                }
            };
}

<div class="container">
    <header>
        <h1>SFXQuizzes</h1>
        <p>
            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        </p>
    </header>

    <div class="try-it">
        <p>try it</p>
        <i class="fas fa-sort-down"></i>
    </div>

    @await Html.PartialAsync("_QuizPartial", demoQuiz);
</div>

<script type="module" defer src="~/js/sfxPlayer.js"></script>
