<div class="home container">
    <header>
        <h1>SFXQuizzes</h1>
        <p>
            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        </p>
    </header>

    <div class="try-it">
        <p>try it</p>
        <i class="fas fa-sort-down"></i>
    </div>

    <div class="quiz">

        <div class="quiz__audios-players">

            <div class="audio-player" id="1">
                <p>1.</p>
                <input class="sfx-name-input" type="text" placeholder="guess sfx name" />
                <button class="audio-player__start-button"><i class="fas fa-play"></i></button>

                <div class="volume">
                    <button class="link-volume-button d-none"><i class="fas fa-link"></i></button>
                    <button class="unlink-volume-button"> <i class="fas fa-unlink"></i></button>
                    <input class="volume-input" type="range" />
                </div>

            </div>

            <div class="audio-player" id="2">
                <p>2.</p>
                <input class="sfx-name-input" type="text" placeholder="guess sfx name" />
                <button class="audio-player__start-button"><i class="fas fa-play"></i></button>
                <div class="volume">
                    <button class="link-volume-button d-none"><i class="fas fa-link"></i></button>
                    <button class="unlink-volume-button"> <i class="fas fa-unlink"></i></button>
                    <input class="volume-input" type="range" />
                </div>
            </div>

            <div class="audio-player" id="3">
                <p>3.</p>
                <input class="sfx-name-input" type="text" placeholder="guess sfx name" />
                <button class="audio-player__start-button"><i class="fas fa-play"></i></button>
                <div class="volume">
                    <button class="link-volume-button d-none"><i class="fas fa-link"></i></button>
                    <button class="unlink-volume-button"> <i class="fas fa-unlink"></i></button>
                    <input class="volume-input" type="range" />
                </div>
            </div>

            <div class="audio-player" id="4">
                <p>4.</p>
                <input class="sfx-name-input" type="text" placeholder="guess sfx name" />
                <button class="audio-player__start-button"><i class="fas fa-play"></i></button>
                <div class="volume">
                    <button class="link-volume-button d-none"><i class="fas fa-link"></i></button>
                    <button class="unlink-volume-button"> <i class="fas fa-unlink"></i></button>
                    <input class="volume-input" type="range" />
                </div>
            </div>

            <div class="audio-player" id="5">
                <p>5.</p>
                <input class="sfx-name-input" type="text" placeholder="guess sfx name" />
                <button class="audio-player__start-button"><i class="fas fa-play"></i></button>
                <div class="volume">
                    <button class="link-volume-button d-none"><i class="fas fa-link"></i></button>
                    <button class="unlink-volume-button"> <i class="fas fa-unlink"></i></button>
                    <input class="volume-input" type="range" />
                </div>
            </div>

            <div class="audio-player" id="6">
                <p>6.</p>
                <input class="sfx-name-input" type="text" placeholder="guess sfx name" />
                <button class="audio-player__start-button"><i class="fas fa-play"></i></button>
                <div class="volume">
                    <button class="link-volume-button d-none"><i class="fas fa-link"></i></button>
                    <button class="unlink-volume-button"> <i class="fas fa-unlink"></i></button>
                    <input class="volume-input" type="range" />
                </div>
            </div>
        </div>

        <p class="quiz__score">Score: <span class="quiz__current-score">0</span> / 6</p>
        <button class="quiz__end-quiz-button">End The Quiz</button>

    </div>
</div>

<script defer>
    //A global variable, accessible by a user. I did it this way to save API calls. It is okay that users can access this variable.

    window.answers = new Map();
    answers.set("1", "1");
    answers.set("2", "2");
    answers.set("3", "3");
    answers.set("4", "4");
    answers.set("5", "5");
    answers.set("6", "6");
</script>
<script type="module" defer src="~/js/audioPlayer.js"></script>