body {
}

.try-it {
    margin-top: 4rem;
    text-align: center;


    & p {
        font-size: 1.8rem;
        color: #D2A517;
        margin: 0;
        text-transform: uppercase;
    }

    & i {
        color: white;
        font-size: 1.5rem;
        animation: 1.2s ease-in-out arrow infinite;
    }
}

@keyframes arrow {
    50% {
        transform: translateY(6px);
    }
}

header {
    color: white;
    text-align: center;

    & h1 {
        text-align: center;
        margin-top: 0;
        padding-top: 1rem;
        font-family: 'Quicksand', sans-serif;
    }

    & p {
        letter-spacing: 4px;
    }
}
