body {
 
}

.home {
    min-height: 100vh;
    position: relative;
}

header {
    color: white;
    text-align: center;

    & h1 {
        text-align: center;
        margin-top: 0;
        padding-top: 1rem;
        font-family: 'Quicksand', sans-serif;
    }

    & p {
        letter-spacing: 4px;
    }
}
