.sfx-player {
    border: 3px solid #81879E;
    padding: 1.8rem;
    position: relative;
    flex-grow: 1;
    margin: 3rem;
    display: flex;
    justify-content: center;
    color: #81879E;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    background-color: #222431;

    & p {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.quiz {
    display: flex;
    flex-direction: column;
}

.quiz__sfxs-players {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;

    @include respond-to(large) {
        flex-direction: row;
    }
}


.sfx-name-input {
    position: absolute;
    top: -15px;
    right: 5%;
    background-color: #222431;
    border: 2px solid #81879E;
    color: white;
    padding: .2rem;
    border-radius: 3px;
}

.volume-input {
    width: 100%;
    margin-bottom: 0;
}

.sfx-player__start-button {
    @include reset-button;
    margin-left: 1rem;
    margin-right: 1rem;
}

.quiz__score {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.quiz__end-quiz-button {
    @include reset-button;
    border-radius: 8px;
    background-color: #D2A517;
    color: black;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top: 1rem;
    transition: .2s ease;
    margin-bottom: 4rem;
    transition: .1s ease-in-out;

    @include respond-to(large) {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    &:hover {
        transform: translateY(-2px);
    }
}

.volume {
    display: flex;
    flex-grow: 1;

    & button {
        @include reset-button;
        color: #81879E;
    }
}

.quiz-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz__title {
    text-align: center;
}
