<header>
    <nav class="navbar">
        <h1><a class="navbar__brand" href="/">SFXQuizzes</a></h1>

        <ul class="navbar__list">
            <li><a class="list__create-quiz-link" asp-area="app" asp-controller="quiz" asp-action="upsert">Create Quiz</a></li>
            <li>
                <div class="dropdown">
                    <button class="dropdown__toggle-button">
                        Get Started <i class="fas fa-caret-down"></i>
                    </button>

                    <div class="dropdown__menu d-none">
                        <a asp-area="app" asp-controller="quiz" asp-action="explore">Explore</a>
                        <a href="/">How to get sfx</a>
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
            </li>
        </ul>
    </nav>

</header>

<script defer>
    const dropDownMenu = document.querySelector('.dropdown__menu');

    document.querySelector('.dropdown__toggle-button').addEventListener('click', () => {
        dropDownMenu.classList.toggle('d-none');
    });

    document.addEventListener('click', (e) => {
        if(e.target.matches('.dropdown__toggle-button, .dropdown__toggle-button *') || dropDownMenu.classList.contains('d-none'))
        return;

        dropDownMenu.classList.add('d-none');
    });
</script>

