footer {
    height: auto;
    color: white;
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    position: relative;

    &::before {
        content: "";
        background-image: url("../../../assets/images/footer-bacground.png");
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: .1;
        z-index: -1;
    }

    &::after {
        content: "";
        background-color: #191924;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
    }

    @include respond-to(medium) {
        padding: 1rem 5rem;
    }
}


.footer__top {
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid #81879e;
    margin: 1rem 0;
    padding-bottom: 1rem;
    flex-direction: column;

    @include respond-to(medium) {
        flex-direction: row;
    }

    & div p {
        font-weight: bold;
        color: white;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    & a {
        color: #81879e;
        text-decoration: none;

        &:hover {
            color: #81879e;
            text-decoration: underline;
        }
    }
}

.copyright {
    text-transform: uppercase;
    flex-grow: 1;
    font-size: .8rem;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;

    @include respond-to(medium) {
        justify-content: flex-end;
    }

    & div {
        margin-right: 3rem;
    }

    & ul {
        list-style-type: none;
        padding-left: 0;
    }
}

.footer__bottom {
    margin-bottom: 2rem;
}

.top__brand {
    flex-grow: 1;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white !important;
}

.footer__bottom {
    display: flex;
}

.social-medias {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    & a {
        margin-left: 1rem;
        fill: #81879e;

        &:hover{
            opacity: .7;
        }
    }
}
