@import 'vendors/_normalize.scss';

@import 'abstracts/_variables.scss', 'abstracts/_mixins.scss';

@import 'pages/_how-to-get-sfx.scss', 'components/_quizzes-table.scss', 'pages/_account-manager.scss', 'pages/_login.scss', 'pages/_register.scss', 'layout/_navbar.scss','pages/_quiz-creator.scss', 'layout/_footer.scss', 'pages/_home.scss', 'components/_quiz.scss';

body {
    height: auto;
    width: auto;
    background-color: #222431;
    position: relative;
    overflow-x: hidden;

    &::before {
        content: "";
        background-image: url("../../../assets/images/body-bacground.webp");
        opacity: .1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }
}

main {
    min-height: 100vh;
    position: relative;
}

.landscape {
    display: none !important;

    @include respond-to(medium) {
        display: block !important;
    }
}

.portrait {
    display: block !important;

    @include respond-to(medium) {
        display: none !important;
    }
}

hr {
    background-color: #81879e;
    height: 1px;
    width: 100%;
    opacity: .1;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

center{
    background-color: white;
}