<div class="container">
    <h1>SFX Quiz Creator</h1>

    <form method="post" enctype="multipart/form-data">

        <div class="drop-area">
            <i class="fas fa-cloud-upload-alt"></i>

            <div class="drop-area__status">
                <p>Drag & Drop files Here</p>
                <p>Or</p>
                <button type="button" class="browse-files-button">Browse Files</button>
                <input class="files-input" type="file" multiple required />
            </div>
        </div>

        <div class="form-group title-input">
            <label for="title">Quiz Title*</label>
            <input type="text" class="form-control" id="title" placeholder="Quiz Title">
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="private">
            <label class="form-check-label" for="private">Private Quiz</label>
        </div>

        <button class="create-quiz-button" type="submit">Create Quiz</button>
    </form>
</div>

<script defer type="module" src=~/js/quizCreator.js></script>