<h1>SFX Quiz Creator</h1>

<form class="drop-area" method="post" enctype="multipart/form-data">
    <i class="fas fa-cloud-upload-alt"></i>

    <div class="drop-area__status">
        <p>Drag & Drop files Here</p>
        <p>Or</p>
        <button class="browse-files-button">Browse Files</button>
        <input class="files-input" type="file" name="files[]" multiple />
    </div>
</form>

<script defer type="module" src=~/js/quizCreator.js></script>